[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
cssutils = "*"
requests = "*"
python-dotenv = "*"
opencc = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.10"
