[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
bs4 = "*"
cssutils = "*"
pyinstaller = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"

[requires]
python_version = "3.8"
