altgraph==0.16.1
cchardet==2.1.4
cffi==1.13.2
future==0.18.2
gevent==1.4.0
greenlet==0.4.15
msgpack==0.6.2
pefile==2019.4.18
pycparser==2.19
PyInstaller==3.5
pywin32-ctypes==0.2.0
pyzmq==18.1.0
zerorpc==0.6.3
